#generatedContentPage .swagger-section #header a#logo {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  background: transparent url(../images/logo.png) no-repeat left center;
  padding: 20px 0 20px 40px;
}
#generatedContentPage .info_title
{
    text-align:center;
    vertical-align: middle;
}

#generatedContentPage .swagger-section .swagger-ui-wrap .model-signature pre
{
    width: 100% !important;
}

#generatedContentPage .description
{
    font-size: 1.2em !important;
}

#Articles_Articles_Get_content h4
{
    font-size: 1.5em !important;
    font-weight: bold;
}


#generatedContentPage .submit
{
    display:none !important;
}

#generatedContentPage .snippet pre{
    width: 300px !important;
}

#generatedContentPage .heading h2
{
    margin-right:20px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 2.1em !important;
}

#generatedContentPage .toggleOperation
{
    margin-left:10px !important;
}

.options a
{
    font-size: 14px !important;
}

#generatedContentPage .heading h2 a:hover
{
    text-decoration: none !important; 
}

#generatedContentPage .resource
{
    width:1000px;
}

#generatedContentPage .content
{
    width:1000px;
}
#generatedContentPage #text-head {
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  float: right;
  margin-right: 20%;
}
#generatedContentPage .navbar-fixed-top .navbar-nav {
  height: auto;
}
#generatedContentPage .navbar-fixed-top .navbar-brand {
  height: auto;
}
#generatedContentPage .navbar-header {
  height: auto;
}
#generatedContentPage .navbar-inverse {
  background-color: #000;
  border-color: #000;
}
#generatedContentPage #navbar-brand {
  margin-left: 20%;
}
#generatedContentPage .navtext {
  font-size: 10px;
}
#generatedContentPage .h1,
#generatedContentPage h1 {
  font-size: 60px;
}
#generatedContentPage .navbar-default .navbar-header .navbar-brand {
  color: #a2dfee;
}
#generatedContentPage /* tag titles */
#generatedContentPage .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a {
  color: #393939;
  font-family: 'Arvo', serif;
  font-size: 1.5em;
}
#generatedContentPage .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a:hover {
  color: black;
}
#generatedContentPage .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 {
  color: #525252;
  padding-left: 0px;
  display: block;
  clear: none;
  float: left;
  font-family: 'Arvo', serif;
  font-weight: bold;
}
#generatedContentPage .navbar-default .navbar-collapse,
#generatedContentPage .navbar-default .navbar-form {
  border-color: #0A0A0A;
}
#generatedContentPage .container1 {
  width: 1500px;
  margin: auto;
  margin-top: 0;
  background-image: url('../images/shield.png');
  background-repeat: no-repeat;
  background-position: -40px -20px;
  margin-bottom: 210px;
}
#generatedContentPage .container-inner {
  width: 1200px;
  margin: auto;
  background-color: rgba(223, 227, 228, 0.75);
  padding-bottom: 40px;
  padding-top: 40px;
  border-radius: 15px;
}
#generatedContentPage .header-content {
  padding: 0;
  width: 1000px;
}
#generatedContentPage .title1 {
  font-size: 80px;
  font-family: 'Vollkorn', serif;
  color: #404040;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 100px;
}
#generatedContentPage #icon {
  margin-top: -18px;
}
#generatedContentPage .subtext {
  font-size: 25px;
  font-style: italic;
  color: #08b;
  text-align: right;
  padding-right: 250px;
}
#generatedContentPage .bg-primary {
  background-color: #00468b;
}
#generatedContentPage .navbar-default .nav > li > a,
#generatedContentPage .navbar-default .nav > li > a:focus {
  color: #08b;
}
#generatedContentPage .navbar-default .nav > li > a,
#generatedContentPage .navbar-default .nav > li > a:hover {
  color: #08b;
}
#generatedContentPage .navbar-default .nav > li > a,
#generatedContentPage .navbar-default .nav > li > a:focus:hover {
  color: #08b;
}
#generatedContentPage .text-faded {
  font-size: 25px;
  font-family: 'Vollkorn', serif;
}
#generatedContentPage .section-heading {
  font-family: 'Vollkorn', serif;
  font-size: 45px;
  padding-bottom: 10px;
}
#generatedContentPage hr {
  border-color: #00468b;
  padding-bottom: 10px;
}
#generatedContentPage .description {
  margin-top: 20px;
  padding-bottom: 200px;
}
#generatedContentPage .description li {
  font-family: 'Vollkorn', serif;
  font-size: 25px;
  color: #525252;
  margin-left: 28%;
  padding-top: 5px;
}
#generatedContentPage .gap {
  margin-top: 200px;
}
#generatedContentPage .troubleshootingtext {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 30%;
}
#generatedContentPage .troubleshootingtext li {
  list-style-type: circle;
  font-size: 25px;
  padding-bottom: 5px;
}
#generatedContentPage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#generatedContentPage .block.response_body.json:hover {
  cursor: pointer;
}
#generatedContentPage .backdrop {
  color: blue;
}
#generatedContentPage #myModal {
  height: 100%;
}
#generatedContentPage .modal-backdrop {
  bottom: 0;
  position: fixed;
}
#generatedContentPage .curl {
  padding: 10px;
  font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-size: 0.9em;
  max-height: 400px;
  margin-top: 5px;
  overflow-y: auto;
  background-color: #fcf6db;
  border: 1px solid #e5e0c6;
  border-radius: 4px;
}
#generatedContentPage .curl_title {
  font-size: 1.1em;
  margin: 0;
  padding: 15px 0 5px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
#generatedContentPage .footer {
  display: none;
}
#generatedContentPage .swagger-section .swagger-ui-wrap h2 {
  padding: 0;
}
#generatedContentPage h2 {
  margin: 0;
  margin-bottom: 5px;
}
#generatedContentPage .markdown p {
  font-size: 15px;
  font-family: 'Arvo', serif;
}
#generatedContentPage .swagger-section .swagger-ui-wrap .code {
  font-size: 15px;
  font-family: 'Arvo', serif;
}
#generatedContentPage .swagger-section .swagger-ui-wrap b {
  font-family: 'Arvo', serif;
}
#generatedContentPage #signin:hover {
  cursor: pointer;
}
#generatedContentPage .dropdown-menu {
  padding: 15px;
}
#generatedContentPage .navbar-right .dropdown-menu {
  left: 0;
  right: auto;
}
#generatedContentPage #signinbutton {
  width: 100%;
  height: 32px;
  font-size: 13px;
  font-weight: bold;
  color: #08b;
}
#generatedContentPage .navbar-default .nav > li .details {
  color: #000000;
  text-transform: none;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  line-height: 20px;
  top: -2px;
}
#generatedContentPage .navbar-default .nav > li .details:hover {
  color: black;
}
#generatedContentPage #signout {
  width: 100%;
  height: 32px;
  font-size: 13px;
  font-weight: bold;
  color: #08b;
}
