#sqldb body {
    background-color: #fff;
    color: #000;
    font-family: Consolas, monospace;
}

#sqldb a:link {
    color: #03d;
}

#sqldb a:visited {
    color: #039;
}

#sqldb a:hover {
    color: #09f;
}

#sqldb table {
    border-collapse: collapse;
    width: 100%;
}

#sqldb table caption {
    color: #666;
    text-align: right;
    font-size: 65%;
    margin-bottom: .5ex;
}

#sqldb table td, table th {
    border: solid 1px #666;
    border-collapse: collapse;
    padding: .3ex .5ex;
    vertical-align: top;
}

#sqldb table tbody tr:hover {
    background-color: #ffc;
}

#sqldb table thead th {
    text-align: left;
    background-color: #ccc;
}

#sqldb table tbody th {
    text-align: left;
    white-space: nowrap;
}

#sqldb .table {
    page-break-inside: avoid;
    margin-bottom:2px;
}

#sqldb .pk {
    float: right;
    cursor: arrow;
    color: #999;
}

#sqldb .type {
    white-space: nowrap;
}

#sqldb .null {
    text-align: center;
}

#sqldb .flag {
    white-space: nowrap;
    font-size: 70%;
    display: inline-block;
    border: solid 1px #ccc;
    padding: .25ex .5ex;
    background-color: #ddd;
    margin-right: 1ex;
}

#sqldb .tocref {
    float: right;
    text-decoration: none;
    font-weight: normal;
}

#sqldb .footer {
    text-align: center;
    margin-top: 1em;
    font-size: 80%;
}

#sqldb li.view:before {
    content: "VIEW";
    font-size: 70%;
    display: inline-block;
    border: solid 1px #ccc;
    padding: .25ex .5ex;
    background-color: #ddd;
    margin-right: 1ex;
}

@media print {
    #sqldb body {
        font-size: .8em;
    }

    #sqldb #toc, #sqldb .tocref {
        display: none;
    }

    #sqldb a:link, #sqldb a:visited {
        color: #000;
        text-decoration: none;
    }
}
