<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>reitan.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wikidocbos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wikidocbos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WikiDocBos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WikiDocBos</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SecondaryAzureStorage" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=docublob;AccountKey=sbWj2fyq8t16kXl5dwzsl1X2Px6zhZMut3LzyQVEuwYgm2CM9Fg4pgabE66qm8pWJ7cxXxV9FkYj9AVtqRanDw==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SecondaryAzureStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=docublob;AccountKey=sbWj2fyq8t16kXl5dwzsl1X2Px6zhZMut3LzyQVEuwYgm2CM9Fg4pgabE66qm8pWJ7cxXxV9FkYj9AVtqRanDw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PrimaryAzureStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=remastorage;AccountKey=B8JeVc4aFYkqLTW80SuZqLXxH613s4yYys+TAfVsuEJL0f6xfy11eXiddRXMTLss31AujEoRpeoPEW62bOJ0yg==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PrimaryAzureStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=remastorage;AccountKey=B8JeVc4aFYkqLTW80SuZqLXxH613s4yYys+TAfVsuEJL0f6xfy11eXiddRXMTLss31AujEoRpeoPEW62bOJ0yg==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://reitan.onmicrosoft.com/WebApp-wikidocbos.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>51203384-f779-467a-b759-48b1005b24ab</ADClientAPPID>
    <ADClientPassword>K5vrV+zOpe+YPJ+CmsP8Kx5+mx4WSUOlNkcsdzXzpR0=</ADClientPassword>
    <ADReplyUrl>https://wikidocbos.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>bbf77a8f-7fa8-45a0-81db-7ad345a349c0</ADTenantId>
    <ADPostLogoutRedirectUri>https://wikidocbos.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PrimaryAzureStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SecondaryAzureStorage-Web.config Connection String" />
  </ItemGroup>
</Project>