<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <system.webServer>

  </system.webServer>
  <connectionStrings>
    <add name="SecondaryAzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=docublob;AccountKey=sbWj2fyq8t16kXl5dwzsl1X2Px6zhZMut3LzyQVEuwYgm2CM9Fg4pgabE66qm8pWJ7cxXxV9FkYj9AVtqRanDw==" />
    <add name="PrimaryAzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=docublob;AccountKey=sbWj2fyq8t16kXl5dwzsl1X2Px6zhZMut3LzyQVEuwYgm2CM9Fg4pgabE66qm8pWJ7cxXxV9FkYj9AVtqRanDw==" />
  </connectionStrings>
  <appSettings>

    <add key="EnforceSharePointAuthentication" value="false" />
    <add key="SiteTitle" value="Rema Documentation" />
	<add key="SiteTitleLink" value="https://reitan.sharepoint.com/oversikten/BizzDesign/index.html" />
	<add key="LogoWidth" value="180" />
	<add key="WelcomeText" value="Welcome to TPDoc" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="w9BrJMFEJcT37Hd1eq9zzB/6AHzyUnAJqTz+WcjZSxQ=" />

    <!-- Name of the default blob container -->
    <add key="PrimaryAzureStorageContainerName" value="tpdoc" />

    <!-- Name of the table where the inverted search index is stored -->
    <add key="PrimaryAzureStorageTableIndex" value="tpdocIndex" />

    <!-- Name of the table where the audit is stored -->
    <add key="PrimaryAzureStorageTableAudit" value="tpdocaudit" />

    
    <!-- The primary environment, this should be the richest of the environments. Usually the development-branch -->
    <add key="BTEnvironmentPrimary" value="Main" />    
    
    <!-- The path to, name of and container for all of the BizTalk environments. -->
    <!-- Paths may be absolute or relative to the documenter solution directory -->
    <!-- An arbitrary amount of environments is theoretically supported, but no setup with more than 3 environments have been tested. -->
    <add key="BTEnvironment1RootDir" value="..\..\..\BizTalk\Main\Source" />
    <add key="BTEnvironment1Name" value="Main" />
    <add key="BTEnvironment1Container" value="tpdoc" />

    <add key="BTEnvironment2RootDir" value="..\..\..\BizTalk\Test\Source" />
    <add key="BTEnvironment2Name" value="Test" />
    <add key="BTEnvironment2Container" value="tpdoctest" />

    <add key="BTEnvironment3RootDir" value="..\..\..\BizTalk\Production\Source" />
    <add key="BTEnvironment3Name" value="Production" />
    <add key="BTEnvironment3Container" value="tpdocprod" />
    

    <add key="ida:ClientId" value="082347d9-fcc9-4df6-b727-2f463bf47508" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:Domain" value="jonasmoltzaucommunicate.onmicrosoft.com" />
    <add key="ida:TenantId" value="7c091c82-a453-4f70-871b-2a8fdd3ad1bd" />
    <add key="ida:PostLogoutRedirectUri" value="https://wikidocdev.azurewebsites.net/" /> 
    <add key="ida:RedirectUri" value="https://wikidocdev.azurewebsites.net/" />
</appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="120" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>